[Desktop Entry]
Name=RubyGems Documentation Server
Exec=env WINEPREFIX="/var/lib/veil/wine" wine-stable C:\\\\users\\\\joshua-owan\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Ruby\\ 1.8.7-p371\\\\RubyGems\\ Documentation\\ Server.lnk
Type=Application
StartupNotify=true
Path=/var/lib/veil/wine/dosdevices/c:/Ruby187/bin
Icon=A61C_ruby.0
StartupWMClass=gem.bat
