[Desktop Entry]
Name=Compile Script to .exe (x64)
Exec=env WINEPREFIX="/var/lib/veil/wine" wine-stable C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\AutoIt\\ v3\\\\Compile\\ Script\\ to\\ .exe\\ \\(x64\\).lnk
Type=Application
StartupNotify=true
Path=/var/lib/veil/wine/dosdevices/c:/Program Files (x86)/AutoIt3/Aut2Exe
Icon=3098_Aut2Exe_x64.0
StartupWMClass=aut2exe_x64.exe
