[Desktop Entry]
Name=Run Script (x64)
Exec=env WINEPREFIX="/var/lib/veil/wine" wine-stable C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\AutoIt\\ v3\\\\Run\\ Script\\ \\(x64\\).lnk
Type=Application
StartupNotify=true
Path=/var/lib/veil/wine/dosdevices/c:/Program Files (x86)/AutoIt3
Icon=0EA0_AutoIt3_x64.0
StartupWMClass=autoit3_x64.exe
