[Desktop Entry]
Name=Run Script (x86)
Exec=env WINEPREFIX="/var/lib/veil/wine" wine-stable C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\AutoIt\\ v3\\\\Run\\ Script\\ \\(x86\\).lnk
Type=Application
StartupNotify=true
Path=/var/lib/veil/wine/dosdevices/c:/Program Files (x86)/AutoIt3
Icon=1C7A_AutoIt3.0
StartupWMClass=autoit3.exe
